/*
    Following mobile first design
*/

body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top -22px left 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7ff;
    flex-wrap: wrap;
}

header {
    order: 1;
    color: hsl(233, 13%, 49%);
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 30px;
}

.toggle {
    order: 2;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    justify-content: center;
    color: hsl(234, 14%, 74%);
    gap: 20px;
}

.toggle span {
    align-self: center;
    /* row-gap: 10px; */
}
.togLabel, .togBtn {
    cursor: pointer;
}

/* toggle switch design starts*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #ccc; */
    background-image: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%)); 
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* input:checked + .slider {
    background-color: #2196F3;
  } */
  
  input:focus + .slider {
    background-image: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%)); 
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* toggle switch design ends */

main {
    order: 3;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    /* padding: 20px 60px; */
    margin-left: 5vw;
    margin-right: 5vw; 
    height: 60vh;
    width: 80vw;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    font-size: 15px;
    color: hsl(233, 13%, 49%);
    padding-bottom: 5vh;
    
}

.card p{
    margin-top: 0%;
}

/* select only the p elements inside card which do not have price class */
/* .card a:not(.price) {
    commenting this out as it interferes with anchor tag in card
    margin-top: 10%;
} */

.price {
    color: hsl(232, 13%, 33%);
    font-size: 60px;
}

.card a {
    text-decoration: none;
    padding: 5% 25%;
    background-image: linear-gradient(270deg, hsl(237, 63%, 64%), hsl(236, 72%, 79%));
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
}

.card-highlighted {
    background-image: linear-gradient(120deg,hsl(236, 72%, 79%) ,hsl(237, 63%, 64%));
    color: white;
}

.card-highlighted .price {
    color: white;
}
.card-highlighted a {
    color: hsl(237, 63%, 64%);
    background-image: none;
    background-color: white;
}

/*
    Styling for desktop
*/

@media (min-width: 376px) {
    body {
        background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top 0vh right 0px, bottom 0vh left 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    header {
        order: 1;
    }

    .toggle {
        order: 2;
        margin-bottom: 10vh;
    }

    main {
        order: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .card {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: white;
        /* padding: 20px 60px; */
        height: 60vh;
        width: 25vw;
        margin-bottom: 5vh;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        font-size: 15px;
        color: hsl(233, 13%, 49%);
        padding-bottom: 5vh;
    }

    .card-highlighted {
        background-image: linear-gradient(120deg,hsl(236, 72%, 79%) ,hsl(237, 63%, 64%));
        color: white;
        height: 65vh;
    }

}

